@use "../../../shared/styles" as *;

.timeOptions {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@include mobile {
		align-items: flex-end;
	}

	.timeOptionsContainer {
		display: flex;
		justify-content: center;
		align-items: start;
		flex-direction: column;

		width: 30%;

		label {
			margin-bottom: 5px;

			color: $fadedLightGray;

			font-size: 12px;

			@include mobile {
				font-size: 11px;
			}
		}

		input {
			width: 100%;

			border: none;

			background: $inputColor;
			border-radius: 10px;
			padding: 15px;

			color: $popupMainFontColor;

			font-size: 17px;
			font-weight: bold;
			font-family: "Poppins";
		}
	}
}
