@use "../../../shared/styles/" as *;

.progressBar {
	position: absolute;
	top: 0px;
	left: 0px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	svg {
		rotate: 270deg;

		width: 350px;
		height: 350px;
	}

	.circle {
		position: relative;

		fill: none;
		stroke: $loaderColor;
		stroke-width: 10px;
		stroke-dasharray: 908;
		stroke-dashoffset: 100;

		z-index: 1;
	}
}
