@use "../../../shared/styles/" as *;

.modeSlider {
	&__option {
		display: flex;
		justify-content: center;
		align-items: center;

		height: 35px;
		width: 120px;

		border-radius: 60px;

		color: $lightGray;

		font-size: 12px;
		font-weight: bold;

		cursor: pointer;
		transition-duration: 0.2s;

		user-select: none;

		&:hover {
			transform: scale(1.02);
		}

		&.selected {
			color: $darkBlue;

			animation: fadeIn 0.65s ease-in-out;
			&:hover {
				transform: scale(1);
			}
		}
	}
}
