$bgColor: #1e2140;
$white: #d4ddfc;

$darkBlue: #141833;
$lightBlue: #292b53;

$loaderColor: #fa706e;

$veryLightGray: #e8e8e8;
$lightGray: #656982;
$fadedLightGray: #84889e;

$popupOverlay: #0000003b;
$popupMainFontColor: #121528;
$popupSecondaryFontColor: #8d8c94;
