@use "../../shared/styles/" as *;

.modeSlider {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;

	height: 50px;

	padding: 10px;
	margin-bottom: 45px;
	border-radius: 60px;
	background: $darkBlue;

	font-family: "Poppins";
	font-size: 15px;
	font-weight: bold;

	z-index: 2;

	transform: scaleX(0);
	animation: strechOut 0.5s ease-in-out forwards;
	animation-delay: 0.2s;

	@include mobile {
		width: 95vw;
	}

	&__option {
		display: flex;
		justify-content: center;
		align-items: center;

		height: 35px;
		width: 120px;

		// padding: 0px 20px;
		border-radius: 60px;

		color: $lightGray;

		font-size: 12px;
		font-weight: bold;

		cursor: pointer;
		transition-duration: 0.1s;

		&:hover {
			transform: scale(1.02);
		}

		&.selected {
			color: $darkBlue;
			background: $loaderColor;

			animation: fadeIn 0.65s ease-in-out;
			&:hover {
				transform: scale(1);
			}
		}
	}
}
