@use "../../shared/styles/" as *;

.header {
	display: flex;
	justify-content: center;
	align-items: flex-start;

	width: 100%;

	margin: 0px;
	padding: 5px 0px;

	color: $white;
	background: $darkBlue;

	font-family: "Pacifico";
	font-size: 50px;

	z-index: 0;
	transition-duration: 0.5s;
	user-select: none;

	animation: slideDownSlow 0.2s ease-in-out;

	span {
		margin-left: -3px;

		font-family: "Comforter";
		font-size: 110px;
		line-height: 100px;
		font-weight: bold;

		transition-duration: 0.3s;
	}
}
