@import "../shared/styles/";

.app {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;

	height: 100%;
	width: 100%;

	color: $white;
	background: $bgColor;

	overflow-x: hidden;
}
