@use "../../shared/styles/" as *;

.settings {
	position: relative;

	opacity: 0;

	animation: slideDown 0.75s ease-in-out forwards;
	animation-delay: 1s;

	z-index: 0;

	.settingsButton {
		margin-top: 45px;

		color: $lightGray;

		font-size: 25px;

		cursor: pointer;
		transition-duration: 0.3s;

		&:hover {
			transform: scale(1.1);
			rotate: 50deg;
		}
	}
}
